table {
	border: 3px gray outset;
	zoom: 3;
}
tr {
	display:table-row;
}
td {
	display:table-cell;
	position:relative;
	text-align: center;
	vertical-align: middle;
	width: 50px;
}

#stats {
	float: right;
	width: 40%;
	font-size: 40px;
	font-family: Verdana, Arial;
	position: fixed;
	right: 0;
}

.gen1 {
	background: linear-gradient(-45deg, #cc6 0%,#ff8 100%);
}

.gen2 {
	background: linear-gradient(-45deg, #77f 0%,#bbf 100%);
}

.gen3 {
	background: linear-gradient(-45deg, #4b4 0%,#8f8 100%);
}

.gen4 {
	background: linear-gradient(-45deg, #ddf 0%,#99b 100%);
}

.gen5 {
	background: linear-gradient(-45deg, #444 0%,#fff 100%);
}

.gen6 {
	background: linear-gradient(-45deg, #f88 0%,#88f 100%);
}

img.check {
	position: absolute;
	display: none;
	top: 2px;
	right: 2px;
	

}

img.pokemon {
	opacity: 0.5;
}

.gotten img.pokemon {
	opacity: 1;
}

.gotten img.check {
	display: inline-block;
	
}