table {
	border: 3px gray outset;
	zoom: 2;
	float: left;
}

td {

	position:relative;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
}

#stats {
	/*
	float: right;
	width: 40%;
	position: fixed;
	right: 0;
	*/
	width: 600px;
	font-size: 40px;
	font-family: Verdana, Arial;
	
}

.gen1 {
	background: linear-gradient(-45deg, #cc6 0%,#ff8 100%);
}

.gen2 {
	background: linear-gradient(-45deg, #77f 0%,#bbf 100%);
}

.gen3 {
	background: linear-gradient(-45deg, #4b4 0%,#8f8 100%);
}

.gen4 {
	background: linear-gradient(-45deg, #ddf 0%,#99b 100%);
}

.gen5 {
	background: linear-gradient(-45deg, #444 0%,#fff 100%);
}

.gen6 {
	background: linear-gradient(-45deg, #f88 0%,#88f 100%);
}

.check {
	position: absolute;
	display: none !important;
	top: 0px;
	right: 0px;
	

}

.pokemon {
	opacity: 0.5;
}

.gotten .pokemon {
	opacity: 1;
}

.gotten .check {
	display: inline-block !important;
	
}